.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 5px green solid;
  .logo {
    width: 30%;
  }
  ul {
    width: 800px;
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
    }
  }
}
